
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .shake {
    animation-name: shake;
  }
/* .card{
  background-image: url("../../assets/bgGame.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
} */
.card-body{
  /* background-image: url("../../assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color:#EB455F
}
.card-header{
  background-color:#2E3840;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.card-footer{
  background-color: #F9DBBB;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.button{
  background-color: white;

}